@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* Active Link Styling (works in both themes) */
.navbar .active {
  color: crimson;
  font-weight: bold;
  border-radius: 20px;
  border: 1px solid #cac8c8ff;
  background: rgb(243, 226, 226);
}

.dark .navbar .active {
  color: #ff5f5f;
  background: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.2);
}


input:focus {
  outline: none;
  box-shadow: none;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  position: relative;
}


@layer components {
  .container-custom {
    @apply max-w-screen-2xl mx-auto max-xl:max-w-7xl max-lg:max-w-5xl max-md:max-w-3xl max-sm:max-w-screen-sm;
  }
}